* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    padding: 1rem 2rem;
    border: 3px solid #333;
    box-shadow: 0 0 4px #333, 0 0 8px #333;
    margin: 1rem;
    border-radius: 12px;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    text-align: center;
    padding-bottom: 1.5rem;
}

.root {
    display:flex;
    gap: 2rem;
}

.details-section {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1rem;
    padding: 0 0.5rem;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background: #ccc;
    border-radius: 8px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 3rem;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.container.show {
    max-height: 40vh;
    opacity: 1;
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
}

.content b {
    flex: 1;
}

.content p {
    flex: 2;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.profile img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px #333, 0 0 20px #333;
}

.social-links {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.social-links a {
    cursor: pointer;
    color: black;
}

.social-links a:hover {
    color: blue;
}

@media (min-width: 400px) {

    body {
        padding: 1rem 0.3rem;
        margin: 0.5rem;
    }

    .details-section {
        margin: 0.rem;
    }

    .container {
        padding: 1rem 0.5rem;
    }

    .root {
        align-items: center;
        flex-direction: column;
    }

    aside {
        order: 1;
    }

    main {
        width: 100%;
        order: 2;
    }

    .profile img {
        max-height: 50vh;
    }
}

@media(min-width: 900px) {
    body {
        padding: 1rem 2rem;
        margin: 1rem;
    }

    .details-section {
        margin: 0.5rem 1rem;
    }

    .container {
        padding: 1rem 3rem;
    }

    .root {
        flex-direction: row;
        align-items: start;
    }

    main {
        order: 1;
        width: 75%;
    }

    aside {
        order: 2;
    }

    .profile img {
        max-height: 75vh;
    }
}
